@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "myfont";
  src: url("./assets/font.otf") format("opentype");
}

@font-face {
  font-family: "headingFont";
  src: url("./assets/Azonix.otf") format("opentype");
}

.headingFont {
  font-family: "headingFont";
}

.hero-head{
  width: min(70%, 700px);
}

h1 {
  font-family: "headingFont";
}

.h2 {
  font-family: "subHeadingFont";
}

.subHeadingFont {
  font-family: "Source Sans 3", sans-serif;
}

p {
  font-family: "Source Sans 3", sans-serif;
}

.myfont {
  font-family: "myfont";
}

:root {
  --glow-color: hsl(20, 93%, 57%);
  --red-glow-color: hsl(360 100% 54%);
}

.red-bg {
  background-color: var(--red-glow-color);
}

.blue-bg {
  background-color: var(--glow-color);
}

.red {
  color: var(--red-glow-color);
}

.blue {
  color: var(--glow-color);
}

.footer {
  background: linear-gradient(
    (var(--glow-color)) 0%,
    (var(--red-glow-color)) 100%
  );
}

.offer-background {
  background: url('/src/assets/10-Essential-Weight-Lifting-Tips.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "myfont"; */
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(0, 0, 0);
  /* color: white; */
  /* background: url('/src/assets/634d06a9162ae7225245c1a3-ltlyh-7x5ft-black-brick-wall-backdrop.jpg')  */
}

.user-background {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center
    repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* background-color: wheat; */
  /* background: white; */
}

#background {
  background: rgb(0, 46, 255);
  background: linear-gradient(90deg, #40c9ff 0%, rgb(255, 0, 0) 100%);
}

.custom-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    background: transparent;
    border-top: 3px solid transparent;
    border-left: 3px solid var(--glow-color);
    border-right: 3px solid var(--glow-color);
    border-bottom: 3px solid var(--glow-color);
    transform: rotate(45deg);
}

.menu-slide-in {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  opacity: 0;
}

.menu-slide-out {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.offer {
  margin: 0;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 120px;
  color: var(--glow-color);
  background-color: #000000;
  -webkit-text-stroke: 2px var(--glow-color);
  display: inline-block;
  margin: 0 auto;
  padding: 35px 50px;
  text-shadow: 6px 0 22px #99d2ec, 0 0 28px #99d2ec, 0 0px 25px #99d2ec,
    -10px -10px 65px #99d2ec;
  transform: rotate(-10deg);
}

.c-button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #FF6701;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* border: 4px solid #FF6701;
  border-radius: 0; */
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #FF6701;
  width: 40%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(2) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: 0;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

@media screen and (max-width: 400px) {
  .offer {
    font-size: 80px;
  }
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: end;
  align-items: end;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

@keyframes infiniteScroll {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  /* overflow: hidden; */
  width: fit-content;
  box-sizing: border-box;
  /* padding-top: 20em;
  padding-bottom: 20em; */
  /* padding: 0; */
  /* background-color: var(--glow-color); */
  /* font-family: 'myfont'; */
}

.scroll {
  white-space: nowrap;
}
.scroll div {
  display: flex;
  gap: 2em;
}
.scroll p {
  font-size: 5em;
  color: var(--red-glow-color);
  font-weight: bold;
  margin-bottom: 0;
  font-family: "myfont";
  line-height: 10px;
}
.rightToLeft {
  animation: RightToLeft 30s infinite linear;
}
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.offer-card {
  background-color: rgba(255, 255, 255, 0.4);
  height: 400px;
  width: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: #000000cc; */
}

.triangle {
  border-right: 10px solid rgb(255, 0, 0);
  border-bottom: 10px solid rgb(255, 0, 0);
  height: 60px;
  width: 60px;
  background: none;
  background-color: transparent;
  color: black;
  transform: rotate(-45deg);
}

@keyframes textanim {
  100% {
    color: #23138c;
    -webkit-text-stroke: 2px #6a49ef;
    text-shadow: 0 0 22px #99d2ec, 0 0 28px #99d2ec, 0 0px 25px #510cef,
      -10px -10px 65px #510cef;
  }
}

i::before {
  margin-right: -10px;
  font-size: 200px;
  color: transparent;
  -webkit-text-stroke: 0.8px #ffffff;
  animation: glowing 1.2s reverse infinite ease-in-out;
}

.glowing-btn {
  position: relative;
  color: white;
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: scroll;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 10px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 10s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 7s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(80%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
  background-color: transparent;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
  background-color: transparent;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}

.card {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    rgb(0, 238, 255) 0%,
    #c850c0 46%,
    #ff1717 100%
  );
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.card-content .card-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
}

.neon-red {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #ffffff;
}
@keyframes neonAnim {
  from {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 16, 16, 0.7),
      0 0 100px rgba(255, 16, 16, 0.7);
  }
  to {
    text-shadow: 0 0 5px rgba(255, 16, 16, 0.7), 0 0 20px rgba(255, 16, 16, 0.7),
      0 0 60px rgba(255, 16, 16, 0.7);
  }
}

.neon-white {
  animation: neonAnimWhite 5s alternate-reverse infinite;
  color: #ffffff;
  font-size: 56px;
}

@keyframes neonAnimWhite {
  from {
    text-shadow: 0 0 10px var(--glow-color), 0 0 40px var(--glow-color),
      0 0 100px var(--glow-color);
  }
  to {
    text-shadow: 0 0 5px var(--glow-color), 0 0 20px var(--glow-color),
      0 0 60px var(--glow-color);
  }
}

/* Founder.css */
.founders-container {
  background-color: transparent; /* Set the background to transparent */
}

.hollow-text {
  color: transparent; /* Make the text color transparent */
  -webkit-text-stroke: 1px gray;
  -webkit-text-fill-color: transparent; /* Add a white stroke around the text */
  stroke: 1px gray; /* Add a white stroke around the text */
}

.program {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #01e6ff,
    0 0 0.8rem #01e6ff, 0 0 2.8rem #01e6ff, inset 0 0 1.3rem #01e6ff;
}

.card-animation {
  transition: transform 1s ease;
  transform: translateX(calc(var(--card-index, 0) * -100%));
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.slide-up {
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both;
}

@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.slide-wipe-left {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}

.button-hover {
  overflow: visible;
  width: 190px;
  height: 40px;
}

.content1 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.back1 {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: visible;
}

.back1 {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back1::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
}

.back1:hover::before {
  animation: rotation_481 5s infinite linear;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
}

.back-content1 {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

